*,
*::before,
*::after {
  box-sizing: border-box;
}


.dashboard-container {
  min-height: 100vh;
  background-color: #f9fafb;
  padding: 1rem;
}

@media (min-width: 768px) {
  .dashboard-container {
    padding: 1.5rem;
  }
}

.stats-grid {
  display: grid;
grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));  gap: 1.5rem;
  margin-bottom: 3rem;
}

/* @media (min-width: 768px) {
  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .stats-grid {
    grid-template-columns: repeat(4, 1fr);
  }
} */